<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.vTiger.testscripts.TC_01Test"/>
      <class name="com.vTiger.testscripts.Tc_3Test"/>
      <class name="com.vTiger.testscripts.TC_5Test"/>
      <class name="com.vTiger.testscripts.TC_4Test"/>
      <class name="com.vTiger.testscripts.TC_2Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
